html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}


video {
  max-width: 600px;
  display: none;
}

.wrapper {
/*  position: relative;*/
  position: fixed;
}

.wrapper canvas {
/*  position: absolute;*/
  position: fixed;
  display: block;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 480px;
}

.video-wrapper {
  top: 350px;
  
}

