<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OkComputerVision</title>
  <link rel="stylesheet" href="./chota.min.css" />
  <link rel="stylesheet" href="./app.css" />

  <script src="fft.js"></script>
  <script src="regression.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"></script>
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/monokai.min.css" rel="stylesheet">

  <!-- <script src='https://cdn.jsdelivr.net/npm/tesseract.js@4/dist/tesseract.min.js'></script> -->
  <script src='https://cdn.jsdelivr.net/npm/tesseract.js@5/dist/tesseract.min.js'></script>
  <!-- <script src='https://cdn.jsdelivr.net/npm/tesseract.js@5/dist/tesseract.esm.min.js'></script> -->
  

</head>

<body>
  <script type="text/javascript">
    document.body.classList.add('dark')
    var COLORS = ['#3D0843', '#590A26', '#335C0A', '#57630B', '#0C2842', '#66400C']
    var POSTPROCESS_STATE = {}
  </script>

  <div class="top-right" id="mouseCoordDiv"></div>


  <main>
    <div class="controls">
      
      <div class="row is-marginless">
        <div class="col-4">
          Camera: <select id="select" @change="pg">
            <option></option>
          </select><div class="text-dark"><small>tip: you can drag the stream window</small></div>
        </div>
        <div class="col-7">
          <!-- arturaugusto@gmail.com -->
        </div>
      </div>



      <div id="app">
        
        <!-- {{postprocessState}} -->
        <!-- 
        <div class="window" ref="window">
          <div class="window-top-no-bind">
          </div>
          <div class="window-content">
            
            <div v-if="postprocessState && postprocessState.ui">
              <div v-html="postprocessState.ui"></div>
            </div>
          </div>
          <input class="window-input" type="text" />
        </div> -->

        <!-- <pre>{{ state }}</pre> -->


        <div class="row is-marginless">
          <div v-for="(conf, conf_i) in state.confs" class="col-2 is-marginless" style="padding-top: 6px;">
            

            <div :style="{'background-color': colors[conf_i]}">

              <span class="is-vertical-align"><span style="width: 26px;">&nbsp;x:</span><input
                @change="pg"
                  class="p-param"
                  type="range"
                  max="600"
                  min="0"
                  step="1"
                  name=""
                  v-model="conf.region[0]"></span>
              <span class="is-vertical-align"><span style="width: 26px;">&nbsp;y:</span><input
                @change="pg"
                  class="p-param"
                  type="range"
                  max="480"
                  min="0"
                  step="1"
                  name=""
                  v-model="conf.region[1]"></span>
              <span class="is-vertical-align"><span style="width: 26px;">&nbsp;w:</span><input
                @change="pg"
                  class="p-param"
                  type="range"
                  max="600"
                  min="1"
                  step="1"
                  name=""
                  v-model="conf.region[2]"></span>
              <span class="is-vertical-align"><span style="width: 26px;">&nbsp;h:</span><input
                @change="pg"
                  class="p-param"
                  type="range"
                  max="480"
                  min="1"
                  step="1"
                  name=""
                  v-model="conf.region[3]"></span>
              <div>
                <input
                  @change="pg"
                  class="p-param"
                  type="checkbox"
                  name=""
                  v-model="conf.showpp">
                  <strong>Show result</strong>
              </div>

              <button class="button error" @click="state.confs.splice(conf_i,1)">remove</button>

            </div>
            

            

            <div v-for="(p, i) in conf.pipeline" class="bd-dark" :class="{'bg-darksteel': i % 2, 'bg-darksteel2': !(i % 2)}">

              <div style="padding: 6px;">
                <div>
                  <input
                    @change="pg($event, p[1])"
                    class="p-param"
                    type="checkbox"
                    name=""
                    v-model="p[0]"><strong> {{p[1]}}{{p[2] !== undefined ? ':' : ''}} </strong>
                </div>

                <span v-if="p[0] && p[1].split('_')[0] === 'upsample'" class="p-param-wrap">
                  coefficient: ({{p[2]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[2]" @input="(x) => p[2] = parseFloat(x.target.value)"
                    :step="1"
                    :min="1"
                    :max="10">

                  <select v-model="p[3]" class="p-param" @change="pg">
                    <option>nearest</option>
                    <option>bicubic</option>
                  </select>

                </span>

                <span v-if="p[0] && p[1].split('_')[0] === 'downsample'" class="p-param-wrap">
                  coefficient: ({{p[2]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[2]" @input="(x) => p[2] = parseFloat(x.target.value)"
                    :step="1"
                    :min="1"
                    :max="10">

                  <select v-model="p[3]" class="p-param" @change="pg">
                    <option>nearest</option>
                    <option>bicubic</option>
                  </select>

                </span>



                <span v-if="p[0] && p[1].split('_')[0] === 'resize'" class="p-param-wrap">
                  width: ({{p[2]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[2]" @input="(x) => p[2] = parseFloat(x.target.value)"
                    :step="1"
                    :min="1"
                    :max="800">
                  
                  heigth: ({{p[3]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[3]" @input="(x) => p[3] = parseFloat(x.target.value)"
                    :step="1"
                    :min="1"
                    :max="800">


                  <select v-model="p[4]" class="p-param" @change="pg">
                    <option>nearest</option>
                    <option>bicubic</option>
                  </select>

                </span>


                <span v-if="p[0] && p[1].split('_')[0] === 'morphologyEx'" class="p-param-wrap">
                  width: ({{p[2]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[2]" @input="(x) => p[2] = parseFloat(x.target.value)"
                    :step="1"
                    :min="1"
                    :max="40">
                  
                  heigth: ({{p[3]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[3]" @input="(x) => p[3] = parseFloat(x.target.value)"
                    :step="1"
                    :min="1"
                    :max="40">


                  <select v-model="p[4]" class="p-param" @change="pg">
                    <option>open</option>
                    <option>close</option>
                    <option>gradient</option>
                    <option>tophat</option>
                    <option>blackhat</option>
                  </select>

                </span>


                <span v-if="p[0] && p[1].split('_')[0] === 'norm'" class="p-param-wrap">
                  <select v-model="p[2]" class="p-param" @change="pg">
                    <option>l2</option>
                    <option>minmax</option>
                  </select>
                </span>


                <span v-if="p[0] && p[1].split('_')[0] === 'gaussianBlur'" class="p-param-wrap">
                  H: ({{p[2]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[2]" @input="(x) => p[2] = parseFloat(x.target.value)"
                    :step="2"
                    :min="3"
                    :max="8">
                  H: ({{p[3]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[3]" @input="(x) => p[3] = parseFloat(x.target.value)"
                    :step="2"
                    :min="3"
                    :max="8">
                </span>

                <span v-if="p[0] && p[1].split('_')[0] === 'colorSegmentation'" class="p-param-wrap">
                  Clusters: ({{p[2]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[2]" @input="(x) => p[2] = parseFloat(x.target.value)"
                    :step="1"
                    :min="2"
                    :max="10">
                </span>

                <span v-if="p[0] && p[1].split('_')[0] === 'contrast'" class="p-param-wrap">
                  Contrast: ({{p[2]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[2]" @input="(x) => p[2] = parseFloat(x.target.value)"
                    :step="0.1"
                    :min="0"
                    :max="20">
                  Brightness: ({{p[3]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[3]" @input="(x) => p[3] = parseFloat(x.target.value)"
                    :step="0.01"
                    :min="-1"
                    :max="1">
                </span>

                <span v-if="p[0] && p[1].split('_')[0] === 'adaptiveThreshold'" class="p-param-wrap">
                  Size: ({{p[2]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[2]" @input="(x) => p[2] = parseFloat(x.target.value)"
                    :step="1"
                    :min="0"
                    :max="150">
                  Value: ({{p[3]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[3]" @input="(x) => p[3] = parseFloat(x.target.value)"
                    :step="1"
                    :min="0"
                    :max="100">
                </span>

                <span v-if="p[0] && p[1].split('_')[0] === 'fft'" class="p-param-wrap">
                  scale: ({{p[2]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[2]" @input="(x) => p[2] = parseFloat(x.target.value)"
                    :step="0.00001"
                    :min="0.00001"
                    :max="1">
                </span>

                <span v-if="p[0] && p[1].split('_')[0] === 'threshold'" class="p-param-wrap">
                  thresh: ({{p[2]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[2]" @input="(x) => p[2] = parseFloat(x.target.value)"
                    :step="0.01"
                    :min="0"
                    :max="1">
                </span>

                <span v-if="p[0] && p[1].split('_')[0] === 'cannyEdges'" class="p-param-wrap">
                  High Threshold: ({{p[2]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[2]" @input="(x) => p[2] = parseFloat(x.target.value)"
                    :step="0.05"
                    :min="0"
                    :max="1">
                  Low Threshold: ({{p[3]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[3]" @input="(x) => p[3] = parseFloat(x.target.value)"
                    :step="0.05"
                    :min="0"
                    :max="1">
                </span>

                <span v-if="p[0] && p[1].split('_')[0] === 'dilate'" class="p-param-wrap">
                  W: ({{p[2]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[2]" @input="(x) => p[2] = parseFloat(x.target.value)"
                    :step="1"
                    :min="1"
                    :max="40">
                  H: ({{p[3]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[3]" @input="(x) => p[3] = parseFloat(x.target.value)"
                    :step="1"
                    :min="1"
                    :max="40">
                </span>

                <span v-if="p[0] && p[1].split('_')[0] === 'erode'" class="p-param-wrap">
                  W: ({{p[2]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[2]" @input="(x) => p[2] = parseFloat(x.target.value)"
                    :step="1"
                    :min="1"
                    :max="40">
                  H: ({{p[3]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[3]" @input="(x) => p[3] = parseFloat(x.target.value)"
                    :step="1"
                    :min="1"
                    :max="40">
                </span>



                <span v-if="p[0] && p[1].split('_')[0] === 'pcLines'" class="p-param-wrap">
                  N lines: ({{p[5]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[5]" @input="(x) => p[5] = parseFloat(x.target.value)"
                    :step="1"
                    :min="1"
                    :max="50">
                  Layers: ({{p[2]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[2]" @input="(x) => p[2] = parseFloat(x.target.value)"
                    :step="1"
                    :min="1"
                    :max="4">
<!--                   dStep: ({{p[3]}})<input
    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[3]" @input="(x) => p[3] = parseFloat(x.target.value)"
                    :step="1"
                    :min="1"
                    :max="4">
                  dCoeficient: ({{p[4]}})<input
                    @change="pg"
                    class="p-param"
                    type="range"
                    :value="p[4]" @input="(x) => p[4] = parseFloat(x.target.value)"
                    :step="1"
                    :min="1"
                    :max="4"> -->
                  <input
                    @change="pg"
                    class="p-param"
                    type="checkbox"
                    name=""
                    v-model="p[6]">
                    <strong>show lines</strong>
              


                </span>

                <span v-if="p[0] && p[1].split('_')[0] === 'ocr'" class="p-param-wrap">
                  lang: <select v-model="p[2]" class="p-param" @change="pg($event, 'ocr')">
                    <option>eng</option>
                    <option>digits</option>
                    <option>7seg</option>
                    <option>digits+7seg</option>
                    <option>LCDDot_FT_500</option>
                    <!-- <option>lets</option> -->
                    <!-- <option>lets+7seg</option> -->
                    <!-- <option>letsgodigital</option> -->
                  </select>
                  PSM: <select v-model="p[3]" class="p-param" @change="pg($event, 'ocr')">
                    <option v-for="psm_option in PSM_OPTIONS" :key="psm_option">{{psm_option}}</option>
                  </select>
                  whitelist: <input
                    @change="pg($event, 'ocr')"
                    type="text"
                    class="p-param"
                    v-model="p[4]">
                  options (JSON): <input
                    @change="pg($event, 'ocr')"
                    type="text"
                    class="p-param"
                    v-model="p[5]">
                  <p v-if="ocrMessage" style="background: #f2f716;color: black;">{{ocrMessage}}</p>
                </span>

              </div>
            </div>

            
            <!-- trigger rects -->
            <div v-for="(t, j) in conf.trigRects" :key="j" class="bd-dark" :class="{'bg-success': t.state, '_bg-grey': !t.state}" style="padding: 6px;">
              <div><strong>triggerRect</strong></div>
              <span class="p-param-wrap">              
                x ({{t.roi[0]}}): <input
                  @change="pg"
                  class="p-param"
                  type="range"
                  :value="t.roi[0]" @input="(x) => t.roi[0] = parseFloat(x.target.value)"
                  :step="1"
                  :max="600"
                  :min="1">
                y ({{t.roi[1]}}): <input
                  @change="pg"
                  class="p-param"
                  type="range"
                  :value="t.roi[1]" @input="(x) => t.roi[1] = parseFloat(x.target.value)"
                  :step="1"
                  :max="480"
                  :min="1">
                w ({{t.roi[2]}}): <input
                  @change="pg"
                  class="p-param"
                  type="range"
                  :value="t.roi[2]" @input="(x) => t.roi[2] = parseFloat(x.target.value)"
                  :step="1"
                  :max="600"
                  :min="1">
                h ({{t.roi[3]}}): <input
                  @change="pg"
                  class="p-param"
                  type="range"
                  :value="t.roi[3]" @input="(x) => t.roi[3] = parseFloat(x.target.value)"
                  :step="1"
                  :max="480"
                  :min="1">
                histOn: ({{t.histOn}})<input
                  @change="pg"
                  class="p-param"
                  type="range"
                  :value="t.histOn" @input="(x) => t.histOn = parseFloat(x.target.value)"
                  :step="0.001"
                  :min="0.001"
                  :max="1">
                histOff: ({{t.histOff}})<input
                  @change="pg"
                  class="p-param"
                  type="range"
                  :value="t.histOff" @input="(x) => t.histOff = parseFloat(x.target.value)"
                  :step="0.001"
                  :min="0"
                  :max="1">
              </span>
              <button class="button error" @click="conf.trigRects.splice(j,1)">remove</button>
            </div>
            <span>
              <button class="button success" @click="addTrigRect(conf)">add trigRect</button>
            </span>
          </div>
          <div class="col-2" style="padding-top: 6px;">
            <span>
              <button v-if="state && state.confs && state.confs.length < 6" class="button success" @click="addConfRegion">add pipeline</button>
            </span>
          </div>

        </div>
      </div>
    </div>

    <div class="row is-marginless" style="padding-top: 20px;">
      <div class="col-12">
        <div>postprocessing code: <a id="loadSampleCode">(load sample code)</a></div>
        <div id="code"></div>
        <textarea style="width: 90vw;height: 40vh;margin-top: 6px;"></textarea>
      </div>
    </div>


    <div>    
      <video id="video" autoplay playsinline></video>
      <div class="wrapper video-wrapper" id="videoWrapper">
        <canvas id="videoCanvas"></canvas>
        <canvas id="roiCanvas"></canvas>
      </div>
      <canvas id="roi1Canvas" style="visibility: collapse;"></canvas>

      <canvas id="roi2Canvas" style="visibility: collapse;"></canvas>

      <canvas id="roi3Canvas" style="visibility: collapse;"></canvas>

      <canvas id="roi4Canvas" style="visibility: collapse;"></canvas>

      <canvas id="roi5Canvas" style="visibility: collapse;"></canvas>

      <canvas id="roi6Canvas" style="visibility: collapse;"></canvas>
    </div>

    
    
  </main>
  
  <script src="./gammacv.min.js"></script>

  <script type="module">

    const createWorker = Tesseract.createWorker;
    window.TESS_WORKERS = [null, null, null, null, null, null]
    window.OCR_WORKING = false

    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
    import JSONCrush from './JSONCrush.min.js'

    createApp({
      watch : {
        'state.code' (val) {
          this.pg()
        },
        'postprocessState.ui' (val) {
          console.log(this.$refs)
        }
      },
      data() {
        return {
          stateChangeDebounce: undefined,
          ocrMessage: '',
          state: {},
          postprocessState: undefined
        }
      },
      methods: {
        pg (evt, changeSource) {
          if (changeSource === 'ocr')  {
            // console.log(evt.target.parentElement)
            console.log('reload to apply changes')
            this.ocrMessage = 'Reload page to apply changes'
          }
          window.clearTimeout(this.stateChangeDebounce)
          this.stateChangeDebounce = window.setTimeout(() => {
            let stateClone = JSON.parse(JSON.stringify(this.state))
            stateClone.code = this.myCodeMirror.getValue()
            
            // clear state data
            stateClone.confs.forEach(conf => {
              delete conf.lines
              delete conf.ocrData
              delete conf.roiCanvasCtx
              conf.pipeline = conf.pipeline.filter(p => p[0])
              if (conf.trigRects) {
                conf.trigRects.forEach(trigRect => {
                  delete trigRect.state
                })
              }
            })


            let permalinkText = window.location.origin + window.location.pathname + '#/' + encodeURIComponent(JSONCrush.crush(JSON.stringify(stateClone)))
            history.pushState(null, "", permalinkText)
            console.log('permalinkDone')
          }, 500)
        },
        addConfRegion () {
          let conf = JSON.parse(JSON.stringify(this.confTemplate))
          // conf.region = [10, 10, roiCanvas.width/2-10, 100]
          conf.region = [10, 10, 64, 64]
          this.state.confs.push(conf)
          // console.log('lala')
        },
        addTrigRect (conf) {
          conf.trigRects.push({
            roi: [10,10,10,10],
            histOn: 0.07,
            histOff: 0.04,
            state: false
          })
        },
        tooglep (e) {
          console.log(e)
          e.stopPropagation()
        },
        setOcrWorkers () {
          this.state.confs.forEach((conf, conf_i) => {
            let ocrParams = conf.pipeline.filter(p => p[0] && p[1] === 'ocr')[0]
            if (ocrParams) {
              let oldWorker = TESS_WORKERS[conf_i]
              let newWorker = null
              new Promise(resolve => {
                if (window.location.host.indexOf('127.0.0.1') !== -1) {
                  resolve(createWorker(ocrParams[2], 1, {langPath: 'http://127.0.0.1:8000', gzip: false}))
                } else {
                  resolve(createWorker(ocrParams[2], 1, {langPath: 'https://arturaugusto.github.io/proto-cv', gzip: false}))
                }
              })
              .then(worker => {
                newWorker = worker
                return new Promise((resolve) => resolve(null))
              })
              // .then(_ => {
              //   return newWorker.initialize(ocrParams[2])
              // })
              .then(_ => {
                let params = {
                  tessedit_pageseg_mode: Tesseract.PSM[ocrParams[3]]
                }
                if (ocrParams[4]) {
                  params['tessedit_char_whitelist'] = ocrParams[4]
                }
                return newWorker.setParameters(params)
              })
              .then(_ => {
                if (oldWorker) {
                  return oldWorker.terminate()
                }
                return new Promise((resolve) => resolve(null))
              })
              .then(_ => {
                TESS_WORKERS[conf_i] = newWorker
              })
              .catch(err => {
                console.log(err)
              })
              .finally(_=> {
                console.log('ocr ready')
              })
            } else {

              if (TESS_WORKERS[conf_i]) {
                TESS_WORKERS[conf_i].terminate()
                .then(_ => TESS_WORKERS[conf_i] = null)
              } else {
                TESS_WORKERS[conf_i] = null
              }
            }
          })
          
        }
      },
      mounted () {
        console.log(window.POSTPROCESS_STATE)
        this.postprocessState = window.POSTPROCESS_STATE
        this.colors = window.COLORS
        let confTemplate = {
          showpp: true,
          region: [10,10,64,64],
          pipeline: [
            [false, 'upsample', 3, 'nearest'],
            [false, 'downsample', 3, 'nearest'],
            [false, 'resize', 100, 100, 'nearest'],
            [false, 'norm', 'l2'],
            [false, 'contrast', 4, 0],
            [false, 'morphologyEx', 4, 0, 'open'],
            [false, 'grayscale'],
            [false, 'gaussianBlur', 3, 3],
            [false, 'colorSegmentation', 3],
            [false, 'upsample_2', 3, 'nearest'],
            [false, 'adaptiveThreshold', 60, 15],
            [false, 'sobelOperator'],
            [false, 'cannyEdges', 0.25, 0.85],
            [false, 'motionDetect'],
            // [false, 'fft', 0.005],
            [false, 'invert'],
            [false, 'dilate', 3, 3],
            [false, 'erode', 3, 3],
            [false, 'dilate_2', 3, 3],
            [false, 'threshold', 0.5],
            [false, 'invert_2'],
            [false, 'pcLines', 2, 2, 2, 2, true],
            [false, 'ocr', 'eng', 'SINGLE_BLOCK', ''],
          ],
          trigRects: []
        }

        this.confTemplate = confTemplate

        this.state = {
          confs: [
            Object.assign({}, confTemplate),
          ]
        }

        let urlState = window.location.href.split('#/')[1]
        if (urlState) {
          try {
            Object.assign(this.state, JSON.parse(JSONCrush.uncrush(decodeURIComponent(urlState))))
            this.state.confs.forEach(loadedConf => {
              loadedConf.pipeline = confTemplate.pipeline.map(pItemTpl => {
                // add if filter dony exists on loaded conf
                return loadedConf.pipeline.filter(p => p[1] === pItemTpl[1])[0] || JSON.parse(JSON.stringify(pItemTpl))
              })
            })
          } catch (e){
            history.pushState(null, "", window.location.origin + window.location.pathname)
          }
        }

        this.myCodeMirror = CodeMirror(document.getElementById('code'), {
          value: this.state.code || '',
          lineNumbers: true,
          // firstLineNumber: 10,
          mode: 'javascript',
          theme: 'monokai',
          // height: 'auto', 
          // viewportMargin: 'Infinity'
        });

        this.myCodeMirror.on('change', () => {
          this.state.code = this.myCodeMirror.getValue()
        })


        this.myCodeMirror.setSize('90vw', '70vh')
        window.myCodeMirror = this.myCodeMirror


        this.state.confs.forEach(conf => conf.trigRects ||= [])

        // this.state.confs[0].region ||= [10, 10, roiCanvas.width/2-10, 100]
        this.state.confs[0].region ||= [10, 10, 64, 64]

        this.PSM_OPTIONS = Object.keys(Tesseract.PSM)

        this.setOcrWorkers()

        window.state = this.state


        // makeDraggable(this.$refs.window)
      }
    }).mount('#app')
  </script>

  <script src="./app.js"></script>
  <script src="./input.js"></script>
</body>

</html>