<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Proto-CV</title>
  <link rel="stylesheet" href="./chota.min.css" />
  <link rel="stylesheet" href="./app.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"></script>
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/monokai.min.css" rel="stylesheet">



</head>

<body>
  <script type="text/javascript">
    document.body.classList.add('dark')
    var COLORS = ['#3D0843', '#590A26', '#335C0A', '#57630B', '#0C2842', '#66400C']
  </script>

  <main>
    <div class="controls">
      
      <div class="row is-marginless">
        <div class="col-4">
          Camera: <select id="select" @change="pg">
            <option></option>
          </select><div class="text-dark"><small>tip: you can drag the stream window</small></div>
        </div>
        <div class="col-7">
          <!-- arturaugusto@gmail.com -->
        </div>
      </div>



      <div id="app">
        <!-- <pre>{{ state }}</pre> -->


        <div class="row is-marginless">
          <div v-for="(conf, conf_i) in state.confs" class="col-2 is-marginless" style="padding-top: 6px;">
            

            <div :style="{'background-color': colors[conf_i]}">

              <span class="is-vertical-align"><span style="width: 26px;">&nbsp;x:</span><input
                @change="pg"
                  class="p-param"
                  type="number"
                  name=""
                  v-model="conf.region[0]"></span>
              <span class="is-vertical-align"><span style="width: 26px;">&nbsp;y:</span><input
                @change="pg"
                  class="p-param"
                  type="number"
                  name=""
                  v-model="conf.region[1]"></span>
              <span class="is-vertical-align"><span style="width: 26px;">&nbsp;w:</span><input
                @change="pg"
                  class="p-param"
                  type="number"
                  name=""
                  v-model="conf.region[2]"></span>
              <span class="is-vertical-align"><span style="width: 26px;">&nbsp;h:</span><input
                @change="pg"
                  class="p-param"
                  type="number"
                  name=""
                  v-model="conf.region[3]"></span>
              <div>
                <input
                  @change="pg"
                  class="p-param"
                  type="checkbox"
                  name=""
                  v-model="conf.showpp">
                  <strong>Show result</strong>
              </div>

              <button class="button error" @click="state.confs.splice(conf_i,1)">remove</button>

            </div>
            

            

            <div v-for="(p, i) in conf.pipeline" class="bd-dark" :class="{'bg-darksteel': i % 2, 'bg-darksteel2': !(i % 2)}">

              <div style="padding: 6px;">
                <div>
                  <input
                    @change="pg"
                    class="p-param"
                    type="checkbox"
                    name=""
                    v-model="p[0]"><strong> {{p[1]}}{{p[2] !== undefined ? ':' : ''}} </strong>
                </div>

                <span v-if="p[1] === 'upsample'" class="p-param-wrap">
                  coefficient: <input
                    @change="pg"
                    class="p-param"
                    type="number"
                    v-model="p[2]"
                    :step="1"
                    :min="1"
                    :max="10">

                  <select v-model="p[3]" class="p-param" @change="pg">
                    <option>nearest</option>
                    <option>bicubic</option>
                  </select>

                </span>


                <span v-if="p[1] === 'norm'" class="p-param-wrap">
                  <select v-model="p[2]" class="p-param" @change="pg">
                    <option>l2</option>
                    <option>minmax</option>
                  </select>
                </span>


                <span v-if="p[1] === 'gaussianBlur'" class="p-param-wrap">
                  H: <input
                    @change="pg"
                    class="p-param"
                    type="number"
                    v-model="p[2]"
                    :step="2"
                    :min="3"
                    :max="8">
                  H: <input
                    @change="pg"
                    class="p-param"
                    type="number"
                    v-model="p[3]"
                    :step="2"
                    :min="3"
                    :max="8">
                </span>

                <span v-if="p[1] === 'colorSegmentation'" class="p-param-wrap">
                  Clusters: <input
                    @change="pg"
                    class="p-param"
                    type="number"
                    v-model="p[2]"
                    :step="1"
                    :min="2"
                    :max="10">
                </span>

                <span v-if="p[1] === 'adaptiveThreshold'" class="p-param-wrap">
                  Size: <input
                    @change="pg"
                    class="p-param"
                    type="number"
                    v-model="p[2]"
                    :step="1"
                    :min="0"
                    :max="100">
                  Value: <input
                    @change="pg"
                    class="p-param"
                    type="number"
                    v-model="p[3]"
                    :step="1"
                    :min="0"
                    :max="100">
                </span>

                <span v-if="p[1] === 'cannyEdges'" class="p-param-wrap">
                  High Threshold: <input
                    @change="pg"
                    class="p-param"
                    type="number"
                    v-model="p[2]"
                    :step="0.05"
                    :min="0"
                    :max="1">
                  Low Threshold: <input
                    @change="pg"
                    class="p-param"
                    type="number"
                    v-model="p[3]"
                    :step="0.05"
                    :min="0"
                    :max="1">
                </span>

                <span v-if="p[1] === 'dilate'" class="p-param-wrap">
                  W: <input
                    @change="pg"
                    class="p-param"
                    type="number"
                    v-model="p[2]"
                    :step="1"
                    :min="1"
                    :max="40">
                  H: <input
                    @change="pg"
                    class="p-param"
                    type="number"
                    v-model="p[3]"
                    :step="1"
                    :min="1"
                    :max="40">
                </span>

                <span v-if="p[1] === 'erode'" class="p-param-wrap">
                  W: <input
                    @change="pg"
                    class="p-param"
                    type="number"
                    v-model="p[2]"
                    :step="1"
                    :min="1"
                    :max="40">
                  H: <input
                    @change="pg"
                    class="p-param"
                    type="number"
                    v-model="p[3]"
                    :step="1"
                    :min="1"
                    :max="40">
                </span>



                <span v-if="p[1] === 'pcLines'" class="p-param-wrap">
                  N lines: <input
                    @change="pg"
                    class="p-param"
                    type="number"
                    v-model="p[5]"
                    :step="1"
                    :min="1"
                    :max="50">
                  Layers: <input
                    @change="pg"
                    class="p-param"
                    type="number"
                    v-model="p[2]"
                    :step="1"
                    :min="1"
                    :max="4">
<!--                   dStep: <input
    @change="pg"
                    class="p-param"
                    type="number"
                    v-model="p[3]"
                    :step="1"
                    :min="1"
                    :max="4">
                  dCoeficient: <input
                    @change="pg"
                    class="p-param"
                    type="number"
                    v-model="p[4]"
                    :step="1"
                    :min="1"
                    :max="4"> -->
                </span>
              </div>
            </div>
            
            <!-- trigger rects -->
            <div v-for="(t, j) in conf.trigRects" :key="j" class="bd-dark" :class="{'bg-success': t.state, '_bg-grey': !t.state}" style="padding: 6px;">
              <div><strong>triggerRect</strong></div>
              <span class="p-param-wrap">              
                x: <input
                  @change="pg"
                  class="p-param"
                  type="number"
                  v-model="t.roi[0]"
                  :step="1"
                  :min="1">
                y: <input
                  @change="pg"
                  class="p-param"
                  type="number"
                  v-model="t.roi[1]"
                  :step="1"
                  :min="1">
                w: <input
                  @change="pg"
                  class="p-param"
                  type="number"
                  v-model="t.roi[2]"
                  :step="1"
                  :min="1">
                h: <input
                  @change="pg"
                  class="p-param"
                  type="number"
                  v-model="t.roi[3]"
                  :step="1"
                  :min="1">
                histOn: <input
                  @change="pg"
                  class="p-param"
                  type="number"
                  v-model="t.histOn"
                  :step="0.1"
                  :min="0"
                  :max="1">
                histOff: <input
                  @change="pg"
                  class="p-param"
                  type="number"
                  v-model="t.histOff"
                  :step="0.1"
                  :min="0"
                  :max="1">
              </span>
              <button class="button error" @click="conf.trigRects.splice(j,1)">remove</button>
            </div>
            <span>
              <button class="button success" @click="addTrigRect(conf)">add trigRect</button>
            </span>
          </div>
          <div class="col-2" style="padding-top: 6px;">
            <span>
              <button v-if="state && state.confs && state.confs.length < 6" class="button success" @click="addConfRegion">add pipeline</button>
            </span>
          </div>



        </div>
      </div>
    </div>

    <div class="row is-marginless" style="padding-top: 20px;">
      <div class="col-12">
        <div>postprocessing code:</div>
        <div id="code"></div>
        <textarea style="width: 90vw;height: 40vh;margin-top: 6px;"></textarea>
      </div>
    </div>



    <div>    
      <video id="video" autoplay playsinline></video>
      <div class="wrapper video-wrapper" id="videoWrapper">
        <canvas id="videoCanvas"></canvas>
        <canvas id="roiCanvas"></canvas>
      </div>
      <canvas id="roi1Canvas" style="visibility: collapse;"></canvas>
      <canvas id="mask1Canvas" style="visibility: collapse;"></canvas>

      <canvas id="roi2Canvas" style="visibility: collapse;"></canvas>
      <canvas id="mask2Canvas" style="visibility: collapse;"></canvas>

      <canvas id="roi3Canvas" style="visibility: collapse;"></canvas>
      <canvas id="mask3Canvas" style="visibility: collapse;"></canvas>

      <canvas id="roi4Canvas" style="visibility: collapse;"></canvas>
      <canvas id="mask4Canvas" style="visibility: collapse;"></canvas>

      <canvas id="roi5Canvas" style="visibility: collapse;"></canvas>
      <canvas id="mask5Canvas" style="visibility: collapse;"></canvas>

      <canvas id="roi6Canvas" style="visibility: collapse;"></canvas>
      <canvas id="mask6Canvas" style="visibility: collapse;"></canvas>
    </div>

    



    
  </main>
  
  <script src="./gammacv.min.js"></script>

  <script type="module">
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    createApp({
      watch : {
        'state.code' (val) {
          this.pg()
        }
      },
      data() {
        return {
          stateChangeDebounce: undefined,
          state: {},
        }
      },
      methods: {
        pg () {
          window.clearTimeout(this.stateChangeDebounce)
          this.stateChangeDebounce = window.setTimeout(() => {
            let stateClone = JSON.parse(JSON.stringify(this.state))
            stateClone.code = this.myCodeMirror.getValue()
            
            // clear state data
            stateClone.confs.forEach(conf => {
              delete conf.lines
              if (conf.trigRects) {
                conf.trigRects.forEach(trigRect => {
                  delete trigRect.state
                })
              }
            })

            let permalinkText = window.location.origin + window.location.pathname + '#/' + JSON.stringify(stateClone)
            history.pushState(null, "", permalinkText)
            console.log('permalinkDone')
          }, 500)
        },
        addConfRegion () {
          let conf = JSON.parse(JSON.stringify(this.confTemplate))
          conf.region = [10, 10, roiCanvas.width/2-10, 100]
          this.state.confs.push(conf)
          // console.log('lala')
        },
        addTrigRect (conf) {
          conf.trigRects.push({
            roi: [10,10,10,10],
            histOn: 0.07,
            histOff: 0.04,
            state: false
          })
        },
        tooglep (e) {
          console.log(e)
          e.stopPropagation()
        }
      },
      mounted () {
        this.colors = window.COLORS
        let confTemplate = {
          region: [10,10,100,100],
          pipeline: [
            [false, 'upsample', 3, 'nearest'],
            [false, 'norm', 'l2'],
            [false, 'grayscale'],
            [false, 'gaussianBlur', 3, 3],
            [false, 'colorSegmentation', 3],
            [false, 'adaptiveThreshold', 5, 15],
            [false, 'sobelOperator'],
            [false, 'cannyEdges', 0.25, 0.85],
            [false, 'invert'],
            [false, 'dilate', 3, 3],
            [false, 'erode', 3, 3],
            [false, 'dilate_2', 3, 3],
            [false, 'invert_2'],
            [false, 'pcLines', 2, 2, 2, 2]
          ],
          trigRects: []
        }

        this.confTemplate = confTemplate

        this.state = {
          confs: [
            Object.assign({}, confTemplate),
          ]
        }

        let urlState = window.location.href.split('#/')[1]
        if (urlState) {
          Object.assign(this.state, JSON.parse(decodeURI(urlState)))
          this.state.confs.forEach(loadedConf => {
            loadedConf.pipeline = confTemplate.pipeline.map(pItemTpl => {
              // add if filter dony exists on loaded conf
              return loadedConf.pipeline.filter(p => p[1] === pItemTpl[1])[0] || JSON.parse(JSON.stringify(pItemTpl))
            })
          })
        }

        this.myCodeMirror = CodeMirror(document.getElementById('code'), {
          value: this.state.code || 'console.log(data)\n',
          lineNumbers: true,
          // firstLineNumber: 10,
          mode: 'javascript',
          theme: 'monokai',
          // height: 'auto', 
          // viewportMargin: 'Infinity'
        });

        this.myCodeMirror.on('change', () => {
          this.state.code = this.myCodeMirror.getValue()
        })


        this.myCodeMirror.setSize('90vw', '70vh')
        window.myCodeMirror = this.myCodeMirror


        this.state.confs.forEach(conf => conf.trigRects ||= [])

        this.state.confs[0].region ||= [10, 10, roiCanvas.width/2-10, 100]
        window.state = this.state
      }
    }).mount('#app')
  </script>

  <script src="./app.js"></script>
  <script src="./input.js"></script>
</body>

</html>